<section class="tfe-footer-wrapper">
    <section class="tfe-footer-content">
        <svg-loader [src]="svgLogo()" size="100"></svg-loader>
        <main class="my-1">
            <h5 class="text-2xl! font-semibold!">
                Hi! Thanks for stopping by.
            </h5>

            <p class="text-lg!">
                Interested in working together? Let's schedule a time to <url-layout class="text-nowrap" [href]="mailToHref()" target="_self">
                    <ng-container hrefContent>
                        <span class="text-xl! font-semibold! mr-1!">Chat</span>
                        <svg-loader class="text-white" [src]="svgChat()"></svg-loader>
                    </ng-container>
                </url-layout>. I’ll buy the coffee.
            </p>
        </main>
    </section>
    <section class="tfe-footer-version">
        <div class="tfe-footer-version_divider"></div>
        <span> © 2025, designed & coded by me </span>
    </section>
</section>
<section class="tfe-footer-version">
    <span> © 2025, designed & coded by me </span>
</section>
