@if (visibleNav()) {
    <nav
        class="tfe-nav"
        animate.leave="tfe-leave-fade"
        animate.enter="tfe-enter-fade"
    ></nav>
}

<header class="tfe-header"></header>

<section class="tfe-container">
    <main class="tfe-main"></main>
    <footer class="tfe-footer"></footer>
</section>

@if (loading()) {
    <div
        class="tfe-bg-cat-loading"
        animate.leave="tfe-leave-fade"
        animate.enter="tfe-enter-fade"
    ></div>
    <lottie-animation
        class="tfe-cat-loading"
        [config]="lottie()"
        animate.leave="tfe-leave-slide-y"
        animate.enter="tfe-enter-slide-y"
    ></lottie-animation>
}
