@if (visibleNav()) {
    <nav
        class="tfe-nav"
        animate.leave="tfe-leave-fade"
        animate.enter="tfe-enter-fade"
    ></nav>
}

<header class="tfe-header tfe-section"></header>
<main class="tfe-main"></main>
<footer class="tfe-footer tfe-section"></footer>

@if (loading()) {
    <div
        class="tfe-bg-cat-loading"
        animate.leave="tfe-leave-fade"
        animate.enter="tfe-enter-fade"
    ></div>
    <lottie-animation
        class="tfe-cat-loading"
        [config]="lottie()"
        animate.leave="tfe-leave-slide-y tfe-leave-fade"
        animate.enter="tfe-enter-slide-fade-y"
    ></lottie-animation>
}
