@use "variable" as var;
@reference "tailwindcss";

.#{var.$primary-prefix-cls} {

    &-leave-slide-y {
        @apply opacity-0 translate-y-full transition-all ease-out duration-500;
    }

    &-enter-slide-y {
        @apply  animate-[enter-slide-y_500ms];
    }

    &-leave-fade {
        @apply  animate-[leave-fade_500ms];
    }

    &-enter-fade {
        @apply  animate-[enter-fade_500ms];
    }
}

@keyframes enter-slide-y {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes leave-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes enter-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
