@use "variable" as var;
@reference "tailwindcss";

.#{var.$primary-prefix-cls} {

    &-leave-slide-y {
        @apply transition-all ease-out duration-500 translate-y-full;
    }

    &-enter-slide-y {
        @apply animate-[enter-slide-y_500ms_ease-out_forwards];
    }

    &-enter-slide-fade-y {
        @apply animate-[enter-slide-fade-y_500ms_ease-out_forwards];
    }

    &-leave-slide-x {
        @apply transition-all ease-out duration-500 translate-x-full;
    }

    &-leave-slide-x- {
        @apply transition-all ease-out duration-500 -translate-x-full;
    }

    &-enter-slide-x {
        @apply animate-[enter-slide-x_500ms_ease-out_forwards];
    }

    &-enter-slide-fade-x {
        @apply animate-[enter-slide-fade-x_500ms_ease-out_forwards];
    }

    &-leave-fade {
        @apply transition-all ease-out duration-500 opacity-0;
    }

    &-enter-fade {
        @apply animate-[enter-fade_500ms_ease-out_forwards];
    }
}

@keyframes enter-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes enter-slide-fade-y {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes enter-slide-fade-x {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes enter-slide-y {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes enter-slide-x {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
