@use "variable" as var;
@reference "tailwindcss";

@layer components {
    .#{var.$primary-prefix-cls} {

        &-footer {
            @apply py-4 px-6 lg:px-10 lg:py-8 border-t border-white bg-(--bg-primary-color);

            &-wrapper {
                @apply flex flex-col w-full max-w-7xl;
            }

            &-content {
                @apply m-auto max-w-2xl flex flex-row gap-4 w-full pb-4 md:pb-6;
            }

            &-version {
                @apply text-center pt-4 pb-2 relative;

                &_divider {
                    @apply w-full max-w-2xl border-t border-(--text-primary-color) top-0 left-1/2 -translate-1/2 absolute;
                }
            }
        }

        &-header {
            @apply rounded-full fixed top-10 left-1/2 -translate-x-1/2 overflow-hidden mx-4 w-full max-w-2xl;

            &-container {
                @apply relative w-full h-full;
            }

            &-wrapper {
                @apply relative w-full h-full py-4 px-6;
            }

            &-content {
                @apply flex gap-4 items-center justify-between;
            }
        }

        &-main {
            @apply h-screen
        }

        &-nav {
            @apply fixed w-full h-full backdrop-blur-md;
        }

        &-cat-loading {
            @apply fixed bottom-0 left-1/2 -translate-x-1/2;
        }

        &-bg-cat-loading {
            @apply fixed bottom-0 left-0 w-full h-full backdrop-blur-md;
        }

        &-hidden-scroll {
            @apply overflow-hidden!;
        }

        &-liquid {
            @apply relative;

            &-effect {
                @apply absolute z-0 inset-0 backdrop-blur-[3px] filter-[url(#glass-distortion)] overflow-hidden isolate;
            }

            &-tint {
                @apply z-10 absolute inset-0 bg-white/25;
            }

            &-shine {
                @apply absolute inset-0 z-20 overflow-hidden shadow-[inset_2px_2px_1px_0_rgba(255,255,255,0.5),inset_-1px_-1px_1px_1px_rgba(255,255,255,0.5)];
            }
        }
    }
}
