@use "variable" as var;

@layer global {
    .#{var.$primary-prefix-cls} {
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        position: relative;

        &-theme-primary {
            margin: unset;
            position: relative;
            overflow: auto;
            font-size: var(--primary-font-size);
            font-weight: var(--primary-font-weight);
            z-index: inherit;
            height: 100vh;
            width: 100vw;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2px colorMainRgba(0.3);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--primary-scroll-bar-color);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: var(--primary-scroll-bar-hover-color);
            }

            p,
            span,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: unset;
            }

            * {
                transition: all .3s ease;
                font-family: 'Metrophobic', 'KoHo', sans-serif;
                box-sizing: border-box;
                scroll-behavior: smooth;
            }

            ul {
                padding-inline-start: unset;
            }

            button {
                font-weight: inherit;
                cursor: pointer;
            }

            @media only screen and (max-width: 500px) {

                &::-webkit-scrollbar {
                    width: 4px;
                }

            }
        }
}
}
