@use "variable" as var;

@layer global {
    .#{var.$primary-prefix-cls} {

        &-theme-primary {
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            position: relative;
            margin: unset;
            z-index: inherit;
            height: 100vh;
            width: 100vw;
            box-sizing: border-box;
            background-color: var(--bg-secondary-color);
            transition: all .3s ease;
            font-family: 'Metrophobic', 'KoHo', sans-serif;
            font-size: var(--primary-font-size);
            font-weight: var(--primary-font-weight);
            color: var(--text-primary-color);
            border-style: solid;

            p,
            span,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: unset;
            }

            * {

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 2px colorMainRgba(0.3);
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--primary-scroll-bar-color);
                    border-radius: 8px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: var(--primary-scroll-bar-hover-color);
                    width: 8px;
                }
            }

            ul {
                padding-inline-start: unset;
            }

            button {
                font-weight: inherit;
                cursor: pointer;
            }

            @media only screen and (max-width: 500px) {

                &::-webkit-scrollbar {
                    width: 4px;
                }

            }
        }
    }
}
