@reference "tailwindcss";

@layer utilities {

    .text-highlight {
        @apply text-orange-500;
    }

    .text-link {
        @apply text-blue-500;
    }

    .text-checked {
        @apply text-green-500;
    }
}