:root {
    --bg-color: #F5F5F5;

    --text-color: rgba(0, 0, 0, 0.5);
    --text-color-lighter: rgba(0, 0, 0, 0.3);
    --text-dark-color: rgb(31, 34, 32);
    
    --border-color: rgba(0, 0, 0, 0.5);

    --scroll-bar-color: rgba(0, 0, 0, 0.5);
    --scroll-bar-hover-color: rgba(0, 0, 0, 1);

    --font-size: 14px;
    --font-weight: 400;

    --text-sm: 12px;
    --text-lg: 16px;
}
